/* Toolbar */
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Set your desired color */
  color: #ffffff; /* Set your desired text color */
}

.example-spacer {
  flex-grow: 1;
}

.example-icon {
  margin-left: 16px; /* Add margin as needed */
}

.favorite-icon {
  margin-right: 16px; /* Add margin as needed */
}

.submit {
  width: 100% !important;
  min-width: unset !important;
  font-size: 18px;
}

/* Highlight Card */
.example-card {
  max-width: 400px; /* Set your desired width */
  /* Add margin as needed */
  margin: 32px auto 0;
  background-color: #ffffff; /* Set your desired background color */
}

.mat-card-image {
  width: 64px;
  height: 64px;
  padding: 8px; /* Add padding as needed */
  border-radius: 50%;
}

.example-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-viewport {
  width: 45%;
  height: 200px;
  margin: 8px 0; /* Add padding as needed */
  background: #eeeeee; /* Set your desired background color */
}

.example-item {
  padding: 8px; /* Add padding as needed */
}

.form-container {
  align-items: center;
  width: 100%;
}

.form-field {
  width: 100%;
}

.mat-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjust progress bar color as needed */
.mat-progress-bar {
  width: 100%;
}

.mat-card-title, .mat-card-subtitle {
  margin-left: 8px;
}

.mat-form-field {
  font-size: 16px;
}
