/* Toolbar */
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Set your desired color */
  color: #ffffff; /* Set your desired text color */
}

.example-spacer {
  flex-grow: 1;
}

.example-icon {
  margin-left: 16px; /* Add margin as needed */
}

.favorite-icon {
  margin-right: 16px; /* Add margin as needed */
}

/* Ensure full visibility of text inside buttons */
.mat-icon-button {
  overflow: visible;
  white-space: nowrap;
}

/* Highlight Card */
.example-card {
  width: 480px; /* Set your desired width */
  /* Add margin as needed */
  margin: 32px auto 0;
  background-color: #ffffff; /* Set your desired background color */
}

.example-header-image {
  width: 64px;
  height: 64px;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
}

.mat-card-header-text {
  margin-left: 8px;
}

.example-viewport {
  width: 100%;
  height: 300px;
  background: #eeeeee; /* Set your desired background color */
}

.example-item {
  height: 24px;
  padding: 8px; /* Add padding as needed */
}

.form-container {
  display: flex;
  align-items: center;
  margin-top: 16px; /* Add margin as needed */
  width: 100%;
}

.form-field {
  flex-grow: 1;
  margin-right: 16px; /* Add margin as needed */
  width: 80%;
}

.mat-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

/* Adjust progress bar color as needed */
.mat-progress-bar {
  width: 100%;
}
